@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/Vazirmatn/Vazirmatn-VariableFont_wght.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/Vazirmatn/Vazirmatn-VariableFont_wght.ttf");
  font-weight: 700;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@screen md {
  .mobile-design {
    @apply flex flex-row gap-x-14;
  }
}

body {
  font-family: "Vazirmatn", sans-serif;
}

.rlt {
  direction: rtl;
}

.flex-grow-3 {
  flex-grow: 10;
}

.flex-grow-2 {
  flex-grow: 6;
  /* align-content: center; */
  /* justify-content: center; */
}
